* {
  padding: 0;
  margin: 0;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .form-container {
    @apply flex flex-col gap-2;
  }
  .form-label {
    @apply text-lg font-bold text-SmokeyGrey;
  }
  .form-input {
    @apply focus:outline-Purple outline-SmokeyGrey border-LightGrey w-full border-2 rounded-lg h-20 p-4 text-[32px] text-OffBlack font-bold;
  }
  .result-value {
    @apply text-Purple font-extrabold text-7xl italic;
  }
  .result-label {
    @apply text-OffBlack font-extrabold text-7xl italic;
  }
  .icon-button {
    @apply hover:bg-OffBlack transition-all duration-300 cursor-pointer z-20 bg-Purple h-20 w-20 rounded-full flex flex-col justify-center items-center;
  }
}
@layer base {
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"] {
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance: textfield !important;
  }
}
